<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PLTDeviceTest_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PLTDeviceTest_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PLTDevice_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PLTDevice_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4265E6FA1A7C4E1600450633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4265E7121A7C4E1700450633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426E9E3E1A7C45B500B2EC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426E9E501A7C45B500B2EC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4273DE111A6755E7008965A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4273DE1C1A6755E7008965A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4273DE321A67560D008965A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4273DE3C1A67560D008965A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
