

.remote-data{
    color: #0000FF;
}

#incoming-call{
  display: none;
}


#remote-video {
    position:relative;
    width: 200px;
    height: auto;
    background-color: #eee;
}

#video-container {
    display: none;
}


#options{
    background-color:#202020;
    border:1px solid #111111;
    height:360px;
    margin-left: 10px;
    width:200px;
    float: right;
    color: #FFFFFF;    
}

#controlPanel{
    margin-right:10px;
    margin-left:80px;
    float:left;
}

#connectBar{
    height:80px;
    border:1px solid #000000;
    margin-bottom:5px;
    position:relative;
    border-radius:25px;color:#222;
    background-color: #ffffff;
}

#connectBar .name{
    position:absolute;
    top:30px;
    left:240px;
    color: #FE481A;
    font-family: "gesta",sans-serif;
    font-size: 20px;
    font-weight: 400
}

#connectBar .user-name{
    font-size: small;
}


#connectBar img{
    left:20px;
    position:absolute;
    width: 196px;
    height: 64px;
    background-color: #FFFFFF;
    top:8px;
}


#sensorpane{
    height:550px;
    background-color: #FE481A;
    border:1px solid #000000;
}

#sensortable{
    margin-right:50px;
    margin-left:50px;
    font-size: large;
}

#sensortable img{
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#sensortable tr, td{
    background-color: #ffffff;
}

#sensortable td{
    padding-left: 10px;
    padding-right: 10px;
}

