
/*
.applicationContainer{
    width:auto;
    margin:25px auto;
    position:relative;
}
*/
.remote-data{
    color: #0000FF;
}

#remote-video {
    position:relative;
    width:200px;
    height: auto;
    background-color: #eee;
}

#video-container {
    display: none;
}


#options{
    background-color:#202020;
    border:1px solid #111111;
    height:360px;
    margin-left: 10px;
    float: right;
    color: #FFFFFF;    
}

#controlPanel{
    margin-right:10px;
    float:left;
}

#connectBar{
    height:80px;
    border:1px solid #000000;
    margin-bottom:5px;
    position:relative;
    border-radius:25px;color:#222;
    background-color: #ffffff;
}

#connectBar .name{
    position:absolute;
    top:30px;
    left:240px;
    color: #FE481A;
    font-family: "gesta",sans-serif;
    font-size: 20px;
    font-weight: 400
}

#connectBar .user-name{
    font-size: small;
}

#call-img{
    width: 70px;
    height: auto;
    padding-left: 10px;
    padding-top: 30px;
    padding-right: 10px;
}

#peer-information{
    font-size: larger;
    font-weight: 300;
    color: #ffff00;
}
#connectBar img{
    left:20px;
    position:absolute;
    width: 196px;
    height: 64px;
    background-color: #FFFFFF;
    top:8px;
}

#centerpoint {
    top: 30%;
    left: 15%;
    position: absolute;
}

#incoming-call {
    position: relative;
    width: 400px;
    height: 120px;
    z-index: 2;
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    display: none;
}


#sensorpane{
    height:600px;
    width: auto;
    background-color: #FE481A;
    border:1px solid #000000;
}

#sensortable{
    margin-right:10px;
    float:left;
    font-size: large;
}

#sensortable img{
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#sensortable tr, td{
    background-color: #ffffff;
}

#sensortable td{
    padding-left: 10px;
    padding-right: 10px;
}


