<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultsVersion</key>
	<string></string>
	<key>Sensitivity</key>
	<integer>500</integer>
	<key>Image</key>
	<string>Frozen Food</string>
	<key>Scale</key>
	<real>1</real>
</dict>
</plist>
